#searchform {
    float: right;
}

#wikiHeader {
    min-height: 50px;
}

.menu {
    float: left;
    padding: 0% 2% 0% 1%;
    max-width: 20%;
    height: 100%;
}

.content {
    float: left;
    max-width: 80%;
    height: 100%;
}
.CategoryTreeLabelPage {
    font-style: normal;
}
.wikiContent {
    vertical-align: top;
    width: 75%;
    float: left;
}
.wikiNavigation {
    min-width: 20%;
    max-width: 20%;
    padding: 0 10px 0 10px;
    vertical-align: top;
    float: left;
}
h1 {
    font-size: 2em;
    font-weight: normal;
}
.boxOut {
    background: lightgrey;
    border: 1px darkgrey solid;
    padding: 10px;
    font-size: 1.1em;
}
.CategoryTreeBullet {
    color: grey;
}
.subtle {
    line-height: 2em;
}